
/*--------------------------------------------------------------
# Hamburger Menu
--------------------------------------------------------------*/


.button_container {
    position: relative;
    top:16px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}


@media (max-width: 991.98px) { 
    .button_container {top:16px !important;}
 }

.button_container:hover {
    opacity: .7;
}

.button_container.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #fff;
}

.button_container.active .middle {
    opacity: 0;
    background: #f68115;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #fff;
}

.button_container span {
    background: #f68115;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 10px;
}

.button_container span:nth-of-type(3) {
    top: 20px;
}

.overlay {
    pointer-events: none;
    z-index: 998;
    position: fixed;
    /*height: 100vh;*/
    width: 100%;
    top: 0;
    left: -12px;
    padding:0;
    overflow: hidden;
    min-width: 300px;
    word-break: break-all;
    background-color: rgba(247, 172, 74, 0.95);
}
.overlay.open{height: 100vh; position: absolute; width:auto;}
.overlay nav {
    pointer-events: none;
    z-index: 998;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0;
    padding:60px 0px;
}

.overlay.open nav {
    pointer-events: auto;
}

.overlay:before {
    content: '';
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: calc(50vw - 8px);
    background: #000;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: opacity 0ms ease 500ms, -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, transform 500ms cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    will-change: transform;
}

.overlay:after {
    content: '';
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background: #000;
    top: 0;
    left: 50%;
    opacity: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: opacity 0ms ease 500ms, -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: opacity 0ms ease 500ms, transform 500ms cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
    will-change: transform;
}

.overlay.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.overlay {
    -webkit-transition: opacity 150ms ease;
    transition: opacity 150ms ease;
    opacity: 0;
    z-index: 2;
    position: relative;
}

.overlay.open:before,
.overlay.open:after {
     /*
    webkit-transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
   -webkit-transform: scaleX(1);
    transform: scaleX(1);*/
    opacity: .8;
}

/* .overlay-menu.open li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
} */
/*
.overlay .overlay-menu ul li {
    -webkit-transform: translate3d(5px, 40px, 0);
    transform: translate3d(5px, 40px, 0);
    opacity: 0;
    -webkit-transition: opacity 0ms, -webkit-transform 0ms;
    transition: opacity 0ms, -webkit-transform 0ms;
    transition: transform 0ms, opacity 0ms;
    transition: transform 0ms, opacity 0ms, -webkit-transform 0ms;
}

.overlay.open li:nth-of-type(1) {
    -webkit-transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 550ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 575ms;
    transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 550ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 575ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 575ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 550ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 575ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 550ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 575ms;
}

.overlay.open .overlay-menu ul li:nth-of-type(2) {
    -webkit-transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms;
    transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms;
}

.overlay.open .overlay-menu ul li:nth-of-type(3) {
    -webkit-transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 725ms;
    transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 725ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 725ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 725ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 650ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 725ms;
}

.overlay.open .overlay-menu ul li:nth-of-type(4) {
    -webkit-transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 700ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms;
    transition: opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 700ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 700ms;
    transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 700ms, -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms;
}
*/
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    height: 100vh;  }

    .overlay-menu ul li a:hover,
    .overlay-menu ul li a:focus {
        -webkit-transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }

    .overlay-menu ul li a {
        position: relative;
        padding:12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1em;
        line-height: 1.2em;
        color: black;
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
        -webkit-transition: -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .overlay-menu ul li a:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        top: 50%;
        left: 0px;
        /*background-color: black;*/
        -webkit-transform: scaleX(0) translate3d(100px, 0, 0);
        transform: scaleX(0) translate3d(100px, 0, 0);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    }

    .overlay-menu ul li a:hover:before,
    .overlay-menu ul li a:focus:before {
        -webkit-transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: scaleX(1) translate3d(-20px, 0, 0);
        transform: scaleX(1) translate3d(-20px, 0, 0);
    }

    .overlay.open .overlay-menu ul li {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    .overlay .overlay-menu ul li {
        -webkit-transform: translate3d(5px, 40px, 0);
        transform: translate3d(5px, 40px, 0);
        opacity: 0;
        -webkit-transition: opacity 0ms, -webkit-transform 0ms;
        transition: opacity 0ms, -webkit-transform 0ms;
        transition: transform 0ms, opacity 0ms;
        transition: transform 0ms, opacity 0ms, -webkit-transform 0ms;
    }

